body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

#side-menu {
    width: 15%;
    background-color: #191718;
    min-height: 100vh;
}

#side-menu ul li a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-left: 20px;
}

#side-menu ul {
    margin: 0px;
    padding: 0px;
}

#side-menu ul li {
    /* margin-top: 20px; */
    list-style: none;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #5C5C5C;
}

#side-menu ul li:first-child {
    padding-top: 10px;
    margin-top: 0px;
}

#side-menu ul li:hover {
    background-color: #5C5C5C;
}

#main-content {
    margin: 0px 40px;
    width: 100%;
}

#main-content #logo {
    background-image: url('logoNCC.png');
    width: 310px;
    height: 122px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-content #content-desc {
    background-color: #EFEFEF;
    width: 100%;
    height: 200px;
    padding: 10px 5px;
    text-align: center;
}

#main-content #content-desc p {
    padding: 0px 200px;
}

#sub-content {
    display: flex;
}


.sub-content-desc {
    display: flex;
    flex-direction: row;
}

.sub-content-item {
    width: 360px;
    height: 252px;
}